@model Shelter.Shared.Animal;

@{
      ViewData["Title"] = Model.Name;
}

<div>
	<p>Name: @Model.Name</p>
	<p>Type: @Model.Race</p>
	<p>Date of Birth: @Model.DateOfBirth/p>
	<p>Fertile: @Model.IsFertile</p>
	<p>Kid friendly: @Model.IsKidFriendly</p>
	<p>Animal friendly: @Model.IsAnimalFriendly</p>
	<p>At shelter since: @Model.Since</p>
	<p>Intro: @Model.Bio</p>
	<p>allergies: @Model.Allergies</p>
</div>
